<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Order confirmed at jungle.com, <%= @order.email %></h1>
    <p>
      Your order has been placed succesfully!
      Order id : <%= @order.id %>.<br>
      Ordered by : <%= @order.email %>.<br>
    </p>
  
    <p>Thanks for ordering and have a great day!</p>
  </body>
</html>